<!--The content below is only a placeholder and can be replaced.-->
<div style="margin: 50px">
	<h1>Test Input</h1>
	<br>
	<div class="wrapper">
		<input type="checkbox"
			[(ngModel)]="separateDialCode">
		<label>&nbsp;Show Dial Code?</label>
	</div>
	<form [formGroup]="phoneForm">
		<div class="wrapper">
			<ngx-dialer-input [cssClass]="'custom'"
				[preferredCountries]="preferredCountries"
				[enableAutoCountrySelect]="true"
				[enablePlaceholder]="true"
				[searchCountryFlag]="true"
				[searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
				[selectFirstCountry]="false"
				[selectedCountryISO]="CountryISO.India"
				[maxLength]="15"
				[phoneValidation]="true"
				[separateDialCode]="separateDialCode"
				[numberFormat]="PhoneNumberFormat.National"
				name="phone"
				formControlName="phone">
			</ngx-dialer-input>
		</div>
	</form>
</div>
